*{ box-sizing:  border-box; };


.container {}
.container {
	overflow: hidden;
	position: relative;
	height: 100vh;
	background: radial-gradient(#7E4B70	,#462C4D);
}

.header-dashboard-text {
	grid-area: header-dashboard-text;
}

.search-icon {
	grid-area: search-icon;
	justify-self: center;
	margin-top: 20px;
}

.header {
	display: grid;
	grid-template-columns: 10% auto 10%;
	justify-items: center;
	grid-template-areas: "hamburger header-dashboard-text search-icon";
	font-family: 'Raleway', sans-serif;
	color: #FFF1D1;
	font-weight: 200;
}

.con, .special-con {
   cursor: pointer;
   display: inline-block;
}

.bar {
   display: block;
   height: 2px;
   width: 15px;
   background: #FFF1D1;
   margin: 2px auto;
}

.con {
   width: 15px;
   margin: 0 auto;
}
 
.hamburger {
   grid-area: hamburger;
   display: inline-block;
   width: 24%;
   text-align: center;
   height: auto;
   position: relative;
   padding-top: 20px;
}

.nav-bar {
   display: grid;
   grid-template-columns: auto 28% 28% 28% auto;
   grid-template-areas: ". today-button week-button month-button .";
   justify-items: center;
   padding-top: 5px;
   height: 50px;
   font-family: 'Raleway', sans-serif;
   color: #FFF1D1;
   font-weight: 200;
   text-transform: uppercase;	
}

.nav-bar-buttons {
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	font-size: .9em;
	height: 40px;
	width: 100%;
	border: 1px solid #FFF1D1;	
}

.right-button {
	border-radius: 0 500px 500px 0;
}

.left-button {
	border-radius: 500px 0 0 500px;
}

.today-button {
	grid-area: today-button;
}

.week-button {
	grid-area: week-button;
}

.month-button {
	grid-area: month-button;
}

.selected {
	background: #FFF1D1;
	color: rgba(0,0,0,1);
}

.week-container {
	position: relative;
	display: grid;
	height: 83vh;
	grid-template-rows: 5% 7% 12% 20% 32% 6% auto;
	grid-template-areas: 
	"barchart"
	"orders-completed"
	"total-sales"
	"line-graph"
	"pie-graph"
	"sales-number"
	"items";
}

.barchart #barchart{
	grid-area: barchart;
}

#barchart {
	height: 60px;
	width: 300px;
	margin: 0 auto;
}

.orders-completed{
	grid-area: orders-completed;
}

.total-sales{
	grid-area: total-sales;
	justify-self: center;
	line-height: 4px;
	color: #E06E73;
	font-family: Arial;
	bottom: 30px;	
}

.total-sales h3 {
	font-family: 'Raleway', sans-serif;
	color: #EBD8BF;
}

.total-sales p {
	color: #C56272;
	font-size:.8em;
}

.line-graph{
	grid-area: line-graph;
	z-index: 10;
	margin: 0 auto;
}

#pie-graph {
	bottom: 100px;
	position: relative;
	width: 170px;
	top: 25px;
	margin: 0 auto;
	grid-area: pie-graph;
}

.sales-number{
	grid-area: sales-number;
	justify-self: center;
	line-height: 0px;
	color: #E06E73;
	font-family: Arial;
	bottom: 30px;
}

.sales-number h3 {
	font-family: 'Raleway', sans-serif;
	color: #EBD8BF;
}

.sales-number p {
	font-size: .8em;
}

.items {
	grid-area: items;
	width: 370px;
	justify-self: center;
	line-height: 30px;
	font-family: Arial, sans-serif;
	font-size: .75em;
	margin-right: 10px;
}

table {
	width: 100%;
	align-items: right;
}

table td {
	padding-left: 30px;
}

.hoodie-dot {
	position: absolute;
	padding-left: 10px;
	width: 13px;
	height: 13px !important;
	background: #FB6660;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-top: 12px;
	margin-left: 10px;
}

.fitted-dot {
	position: absolute;
	padding-left: 10px;
	width: 13px;
	height: 13px;
	background: #FFBE31;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-top: 12px;
	margin-left: 10px;
}

.bracelet-dot {
	position: absolute;
	padding-left: 10px;
	width: 13px;
	height: 13px;
	background: #00D7DD;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-top: 12px;
	margin-left: 10px;
}

.item-description {
	color: #F5E3C7;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.item-price {
	color: #EC7475;
	font-family: 'PT Sans', sans-serif;
}



